.question-group {
	display:none;
}

.question-group.current {
	display:block;
}

.questions {
	margin-bottom: 20px;
}

.questions::after {
    content:"";
    display:table;
    clear:both;
}

.questions ul {
	list-style:none;
	padding-left:5px;
}

.questions li {
	clear:both;
	padding-top:15px;
}

.question {
	float:left;
	width:70%;
}

.answers {
	float:right;
	margin-left:20px;
	width:25%;
}

.modal-body {
	overflow: hidden;
}

#top-block {
	background-color:#E44424;
	height:50px;
	top: 0px;
	width:100%;
	transition: all .2s ease;
}

#left-block {
	background-color:#07a;
	height:500px;
	top: 50px;
	width:70%;
	transition: all .4s ease;
}

#right-block {
	background-color:#A2AB58;
	height:500px;
	top: 50px;
	width:30%;
	transition: all .4s ease;
}

#mid-block {
	background-color:#FFE658;
	border-radius: 8px;
	height:50px;
	top: 0%;
	width:90%;
	transition: all .6s ease;
}

.slide-in {
  opacity:1;
  overflow: hidden;
  position: absolute;
  z-index: 10; 
}

.slide-in.from-left {
  left: 0;
}

.slide-in.from-right {
  right: 0;
}

.slide-in.from-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

#icons {
	display:none;
}