body {
	background-color:#ccc;
}

.modal-content {
	background-color:#efefef;
}

.modal-title {
	text-transform: uppercase;
}

.modal-body {
	background-color:#fff;
	overflow: hidden;
}

.question-group {
	display:none;
}

.question-group.current {
	display:block;
	min-height: 320px;
}

.questions {
	margin-bottom: 20px;
}

.questions::after {
    content:"";
    display:table;
    clear:both;
}

.questions ul {
	list-style:none;
	padding-left:5px;
}

.questions li {
	clear:both;
	padding-top:15px;
}

.question {
	float:left;
	width:70%;
}

.answers {
	float:right;
	margin-left:20px;
	width:25%;
}

.group-buttons {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

#top-block {
	background-color:#E44424;
	height:50px;
	top: 0px;
	width:100%;
	transition: all .2s ease;
}

#left-block {
	background-color:#07a;
	height:100%;
	top: 50px;
	width:70%;
	transition: all .4s ease;
}

#right-block {
	background-color:#4EB1BA;
	height:100%;
	top: 50px;
	width:30%;
	transition: all .4s ease;
}

#mid-block {
	background-color:#FFE658;
	border-radius: 8px;
	height:50px;
	top: 0%;
	width:90%;
	transition: all .6s ease;
}

.slide-in {
  opacity:1;
  overflow: hidden;
  position: absolute;
  z-index: 10; 
}

.slide-in.from-left {
  left: 0;
}

.slide-in.from-right {
  right: 0;
}

.slide-in.from-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

#icons {
	display:none;
}

.modal-body.alt1 #top-block {
	background-color:#ddd;
}

.modal-body.alt1 #right-block {
	background-color:#fff;
}

.modal-body.alt1 #left-block {
	background-color:#efefef;
}

.modal-body.alt1 #mid-block {
	background-color:#fff;
}

.modal-body.alt1 svg {
	fill: #07a;
}

.modal-body.alt2 #top-block {
	background-color:#373737;
}

.modal-body.alt2 #right-block {
	background-color:#fff;
}

.modal-body.alt2 #left-block {
	background-color:#dcd0c0;
}

.modal-body.alt2 #mid-block {
	background-color:#f4f4f4;
}

.modal-body.alt2 svg {
	fill: #c0b283;
}